#one{
font-size:30px;
font-family:"comic sans ms" ,comic sans ms;
color:#034694;
text-align:left;
}
#two{
font-size:30px;
font-family:"comic sans ms" ,comic sans ms;
color:#034694;}
#three{
font-size:30px;
font-family:"comic sans ms" ,comic sans ms;
color:#034694;}
#four{
font-size:30px;
font-family:"comic sans ms" ,comic sans ms;
color:#034694;}
h1{
font-weight:bold;
color:#034694;
text-align:center;}

#eleven{
border-style:solid;
border-color:#034694;}
 
body{
background-image:radial-gradient(circle,#FFFFFF,#E5E4E2,#D8BFD8;)}

#five{
opacity:0.3;
position:relative;
top:-950px;
left:30px;
height:200px;
width:200px;
border-radius:50px;

}

#six{
opacity:0.3;
position:relative;
top:-900px;
left:700px;
height:200px;
width:200px;
border-radius:40px;
}
#seven{
opacity:0.3;
opacity:0.3;
position:relative;
top:-750px;
left:50px;
height:200px;
width:200px;
border-radius:40px;}
#eight{
opacity:0.3;
opacity:0.3;
position:relative;
top:-500px;
left:-500px;
height:200px;
width:200px;
border-radius:40px;}
#nine{
opacity:0.3;
opacity:0.3;
opacity:0.3;
position:relative;
top:-400px;
left:-300px;
height:200px;
width:200px;
border-radius:40px;}
#ten{
opacity:0.3;
opacity:0.3;
opacity:0.3;
opacity:0.3;
position:relative;
top:-200px;
left:-100px;
height:200px;
width:200px;
border-radius:40px;}
