h1{
text-align:center;
font-weight:bold;
font-family:"Lucidatypewriter",Lucidatypewriter;
color:#034694;}

#one,#four,#seven,#ten,#thirteen,#sixteen{
font-weight:bold;
font-family:"Lucidatypewriter",Lucidatypewriter;
color:#034694;
font-size:30px;}
 
#three,#six,#nine,#twelve,#fifteen,#eighteen{
font-weight:bold;
font-family:"Lucidatypewriter",Lucidatypewriter;
color:#034694;
font-size:30px;
border-style:solid;
border-color:transparent;
margin-right:400px;
margin-left:10px;
position:relative;
top:-400px;
left:140px;}



#two,#five,#eight,#eleven,#fourteen,#seventeen{
opacity:0.4;
height:600px;
width:1200px;
position:relative;
left:30px;
top:-10px;
}


body{
border-style:dotted;
border-color:#034694}