#one{
font-size:20px;
font-family:"comic sans ms" ,comic sans ms;
color:#034694;
border-style:solid;
border-color:#034694;
margin-right:300px;
}
h1{
text-align:center;
color:#034694;}

#two{
position:relative;
top:-1010px;
right:-1060px;
height:150px;
width:150px;
border-radius:40px;}

#three{
position:relative;
top:-852px;
right:-900px;
height:150px;
width:150px;
border-radius:40px;}

#four{
position:relative;
top:-692px;
right:-740px;
height:150px;
width:150px;
border-radius:40px;}

#six{
position:relative;
top:-530px;
right:-580px;
height:150px;
width:150px;
border-radius:40px;}

#eight{
position:relative;
top:-370px;
right:-425px;
height:150px;
width:150px;
border-radius:40px;}

#nine{
position:relative;
top:-210px;
right:-270px;
height:150px;
width:150px;
border-radius:40px;}


