#one:link{
background-color: #034694;
  opacity:0.8;
  padding: 150px 100px;
  position:relative;
  left:50px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border: 8px solid green;}
#two{
position:relative;
top:100px;
color:#B2BEB5;
font-family:"comic sans ms" ,comic sans ms;
font-size:15px;
font-weight:Bold;}

#three{
position:relative;
top:60px;
left:-230px;
height:180px;
width:180px;}

#four:link{
background-color: #034694;
  opacity:0.8;
  padding: 150px 100px;
  position:relative;
  left:480px;
  top:-342px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border: 8px solid green;}
#five{
position:relative;
top:100px;
color:#B2BEB5;
font-family:"comic sans ms" ,comic sans ms;
font-size:15px;
font-weight:Bold;}

#six{
position:relative;
top:-280px;
left:210px;
height:180px;
width:180px;}

#seven:link{
background-color: #034694;
  opacity:0.8;
  padding: 150px 100px;
  position:relative;
  left:870px;
  top:-685px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border: 8px solid green;}
#eight{
position:relative;
top:100px;
color:#B2BEB5;
font-family:"comic sans ms" ,comic sans ms;
font-size:15px;
font-weight:Bold;}

#nine{
position:relative;
top:-620px;
left:600px;
height:180px;
width:180px;}

#ten:link{
background-color: #034694;
  opacity:0.8;
  padding: 150px 120px;
  position:relative;
  left:50px;
  top:-650px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border: 8px solid green;}
#eleven{
position:relative;
top:100px;
color:#B2BEB5;
font-family:"comic sans ms" ,comic sans ms;
font-size:15px;
font-weight:Bold;}

#twelve{
position:relative;
top:-600px;
left:-230px;
height:180px;
width:180px;}


#thirteen:link{
background-color: #034694;
  opacity:0.8;
  padding: 150px 115px;
  position:relative;
  left:480px;
  top:-995px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border: 8px solid green;}
#fourteen{
position:relative;
top:100px;
color:#B2BEB5;
font-family:"comic sans ms" ,comic sans ms;
font-size:15px;
font-weight:Bold;}

#fifteen{
position:relative;
top:-940px;
left:210px;
height:180px;
width:180px;}

#sixteen:link{
background-color: #034694;
  opacity:0.8;
  padding: 150px 110px;
  position:relative;
  left:870px;
  top:-1337px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border: 8px solid green;}
#seventeen{
position:relative;
top:100px;
color:#B2BEB5;
font-family:"comic sans ms" ,comic sans ms;
font-size:15px;
font-weight:Bold;}

#eighteen{
position:relative;
top:-1280px;
left:600px;
height:180px;
width:180px;}


#nineteen:link{
background-color: #034694;
  opacity:0.8;
  padding: 150px 135px;
  position:relative;
  left:50px;
  top:-1300px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border: 8px solid green;}
#twenty{
position:relative;
top:100px;
color:#B2BEB5;
font-family:"comic sans ms" ,comic sans ms;
font-size:15px;
font-weight:Bold;}

#twentyone{
position:relative;
top:-1250px;
left:-230px;
height:180px;
width:180px;}

#twentytwo:link{
background-color: #034694;
  opacity:0.8;
  padding: 150px 115px;
  position:relative;
  left:480px;
  top:-1642px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border: 8px solid green;}
#twentythree{
position:relative;
top:100px;
color:#B2BEB5;
font-family:"comic sans ms" ,comic sans ms;
font-size:15px;
font-weight:Bold;}

#twentyfour{
position:relative;
top:-1590px;
left:210px;
height:180px;
width:180px;}

#twentyfive:link{
background-color: #034694;
  opacity:0.8;
  padding: 150px 110px;
  position:relative;
  left:870px;
  top:-1985px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border: 8px solid green;}
#twentysix{
position:relative;
top:100px;
color:#B2BEB5;
font-family:"comic sans ms" ,comic sans ms;
font-size:15px;
font-weight:Bold;}

#twentyseven{
position:relative;
top:-1930px;
left:600px;
height:180px;
width:180px;}

#twentyeight:link{
background-color: #034694;
  opacity:0.8;
  padding: 150px 135px;
  position:relative;
  left:50px;
  top:-1950px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border: 8px solid green;}
#twentynine{
position:relative;
top:100px;
color:#B2BEB5;
font-family:"comic sans ms" ,comic sans ms;
font-size:15px;
font-weight:Bold;}

#thirty{
position:relative;
top:-1890px;
left:-230px;
height:180px;
width:180px;}

#thirtyone:link{
background-color: #034694;
  opacity:0.8;
  padding: 150px 115px;
  position:relative;
  left:480px;
  top:-2293px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border: 8px solid green;}
#thirtytwo{
position:relative;
top:100px;
color:#B2BEB5;
font-family:"comic sans ms" ,comic sans ms;
font-size:15px;
font-weight:Bold;}

#thirtythree{
position:relative;
top:-2230px;
left:210px;
height:180px;
width:180px;}

h1{
text-align:center;
color:#034694}
body{
background-color:#f0f0f0;
border-style:dotted;
border-color:#034694;
padding-bottom:10px;
}





